/.idea
/build
/dist
__pycache__
esme.spec
coverage.xml
.pytest_cache
.coverage
htmlcov
testing_ground/
.hypothesis
.mypy_cache
.cache
.coverage*
esme.yml
*.cprof
/logs/
.idea/
/dist/
/build/
/.pytest_cache/
.hypothesis/
/scratch.py
